body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



  /*  -------------     navbar styles below   -------------- */


.nav 
{
  width: 100%;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: azure;
}

.navflex{
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.logo h3 a{
  text-decoration: none;
  color: azure;
}

.nlogo
{
  color: skyblue;
  font-size: x-large;
}


.links ul {
  display: flex;
  margin-right: 80px;
  padding-top: 7px;
  
}

.links li{
  list-style: none;
  margin-left: 20px;
}

.links li a:hover {
  color: skyblue;
}

.links li a {
  text-decoration: none;
  color: azure;
}

/*  -------------     navbar styles above  -------------- */





/*  -------------     home styles below  -------------- */



/*  -------------     banner  -------------- */

.banner 
{
  width: 100%;
  height: 88vh;
  background: url(./components/img/earth.jpeg);
  background-size: cover;
  position: relative;
}

.bannerCenter 
{
  position: absolute;
  width: 60%;
  height: 35%;
  top: 30%;
  left: 20%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.5);
  
  color: azure;
  text-align: center;
  
}

.blogo
{
  color: skyblue;
}



.bannerCenter p {
  margin-top: 40px;
  width: 70%;
  margin-left: 15%;
} 





/*  -------------     sections    -------------- */


.sectionDesc
{
  background-color: rgb(23, 24, 24);
  color: azure;
}

.btn {

  border: none;
  width: 100px;
  height: 50px;
  border-radius: 3px;
  background-color: azure;
  color: black;
  cursor: pointer;

}

.btn a{
  text-decoration: none;
  color: black;
}

.btn:hover
{
  background-color: skyblue;
  color: blue;
}

.podDesc, .roverDesc, .eventsDesc 
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  height: 100vh;
  border-bottom: 5px solid rgb(20, 20, 20);
}


.podpara, .podpic, .roverpara, .roverpic, .eventpara, .eventpic
{
  width: 40%;
}

img {

  width: 100%;
  height: auto;
  border-radius: 5px;
}

.roverpic, .podpara, .eventpara {
  margin-left: 5%;
}

.podpic, .eventpic, .roverpara
{
  margin-right: 5%;
}






/*  -------------     footer styles below    -------------- */


footer {

  text-align: center;
  padding-top: 45px;
  width: 100%;
  height: 100px;
  color: azure;
  background-color: black;

}



